<!DOCTYPE html>
<html>
<head>
    <title> About | YSI Southeast Asia </title>
    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
</head>

<body>

<div class="ui center aligned container">
<div class="ui compact secondary pointing menu">
  <a class="item" href="/">
    Home
  </a>
  <a class="active item" href="/about">
    About
  </a>
  <div class="ui small image">
      <a href="/"> <img src="static/img/YSI_SEA_LOGO.png"> </a>
  </div>
  <a class="item">
      Partners
  </a>
  <a class="item" href="/contact">
    Contact Us
  </a>
</div>
</div>

<div class="ui padded vertical masthead center aligned segment">
       <h1 class="ui header" style="margin-top: 0.3em;"> Young Sustainable Impact is... </h1>
</div>

<div class="ui container">
<div class="ui vertical aligned segment">
    <h2 style="font-weight: lighter"> 
        Young Sustainable Impact was started in <span style="font-weight:bold">Oslo, Norway</span>  </em>  by a group of youths passionate about bringing young people around the world together to tackle <span style="font-weight:bold"> sustainability </span> problems, based around the <a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/"> 17 United Nations Sustainable Development Goals </a>.
    </h2>
    <br>
    <h2 style="font-weight: lighter"> 
        They saw a <span style="font-weight:bold">lack of start-ups </span> in the field of sustainable development aimed at alleviating bigger world problems, and decided to bridge the gap between idea generation and <span style="font-weight:bold"> impact</span>, as well as engage youth in sustainability and entrepreneurship. 
    </h2>
    <br>
    <h2 style="font-weight: lighter"> 
        In 2017, with an overwhelming response of <span style="font-weight:bold"> 10,053 applicants </span> from <span style="font-weight:bold"> 170 countries </span>, YSI Global gathered 25 amazing participants and expanded to 5 new countries within 12 months. 
    </h2>
    <br>
    <h2 style="font-weight: lighter"> 
        <span style="font-weight:bold"> YSI Southeast Asia  </span> has its operations based in Singapore, and will head the programme for Southeast Asian youths. 
    </h2>
</div>
</div>
</body>
</html>
