<!DOCTYPE html>
<html>
<head>
    <title> Contact | YSI Southeast Asia </title>
    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
</head>

<body>

<div class="ui center aligned container">
<div class="ui compact secondary pointing menu">
  <a class="item" href="/">
    Home
  </a>
  <a class="item">
    About
  </a>
  <div class="ui small image">
      <img src="static/img/YSI_SEA_LOGO.png">
  </div>
  <a class="item">
      Partners
  </a>
  <a class="active item" href="/contact">
    Contact Us
  </a>
</div>
</div>
<div class="ui vertical masthead center aligned container">
   <div class="ui padded text container">
       <h1 class="ui header" style="margin-top: 1em;margin-bottom: 2em"> Contact Us </h1>
   </div>
</div>

<div class="ui padded container">
<div class="ui equal width stackable grid">
<div class="center aligned row">
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="mail icon"></i>
            <div class="content">
                Email
                <div class="sub header"> sea@ysiglobal.com

                </div>
                <br>
                <a href="mailto:sea@ysiglobal.com" class="ui blue basic button">Send us an email</a>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="instagram icon"></i>
            <div class="content">
                Instagram
                <div class="sub header">  See our latest photos
                </div>
                <br>
                <a href="http://instagram.com/ysi.sea" target="_blank" class="ui blue basic button">Explore</a>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="facebook icon"></i>
            <div class="content">
                Facebook
                <div class="sub header"> Keep up with our latest posts
                </div>
                <br>
                <a href="https://www.facebook.com/ysiseasia/" target="_blank" class="ui blue basic button">Explore</a>
            </div>
        </h2>
    </div>
</div>
</div>
</div>
</body>
</html>
