<!DOCTYPE html>
<html>
<head>
    <title> YSI Southeast Asia </title>
    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
</head>

<body>

<div class="ui center aligned container">
<div class="ui compact secondary pointing menu">
  <a class="active item" href="/">
    Home
  </a>
  <a class="item" href="/about">
    About
  </a>
  <div class="ui small image">
      <a href="/"> <img src="static/img/YSI_SEA_LOGO.png"> </a>
  </div>
  <a class="item">
      Partners
  </a>
  <a class="item" href="/contact">
    Contact Us
  </a>
</div>
</div>

<div class="ui container">
<div class="ui vertical masthead center aligned segment">
   <div class="ui padded text container" >
       <h1 class="ui header" style="margin-top: 0.3em;"> 
           YSI Southeast Asia 
        </h1>


       <!--<h2 style="font-weight: 100"> Young | Sustainable | Impact </h2>-->
   </div>
   <div class="ui" style="margin-bottom: 2em; margin-top: 1em">
    <h3 style="font-weight: 100"> Empowering youths across Southeast Asia to solve our world's sustainability issues, through a measurable impact.</h3>
    </div>
    <a href="/about" class="ui circular primary huge button" style="margin-bottom: 1em;">Learn about YSI</a>
</div>
</div>

<div class="ui container">
<div class="ui vertical center aligned segment">
    <h2 style="font-weight: 200"> Interested? Join us as a... </h2>
</div>
<div class="ui vertical stripe segment">
<div class="ui equal width stackable  grid">
<div class="center aligned row">
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="blue university icon"></i>
            <div class="content">
                Participant
                <div class="sub header" style="margin-top: 0.5em; font-size: 0.7em">Interested in being part of a value and sustainability driven startup? Join our three month innovation program with other youths in the region.

                </div>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="blue heart icon"></i>
            <div class="content">
                Partner
                <div class="sub header" style="margin-top: 0.5em; font-size: 0.7em; text-align: center"> Have sustainability issues you want to solve? Want to tap on the brightest young minds of our generation? Need an international
                network and insight into new ideas? Join YSI as a partner.
                </div>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="blue student icon"></i>
            <div class="content">
                Mentor
                <div class="sub header" style="margin-top: 0.5em; font-size: 0.7em"> Help our participants design and implement ground-breaking ideas in the sustainability sector with your expertise and guidance.
                </div>
            </div>
        </h2>
    </div>


</div>
<div class="center aligned row">
    <div class="column">
        <button class="ui blue circular basic button">Find out more</button>
    </div>
    <div class="column">
        <button class="ui blue circular basic button">Find out more</button>
    </div>
    <div class="column">
        <button class="ui blue circular basic button">Find out more</button>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>
