<!DOCTYPE html>
<html>
<head>
    <title> YSI South East Asia </title>
    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
</head>

<div class="ui inverted vertical masthead center aligned segment">
   <div class="ui text container">
       <h1 class="ui inverted header"> YSI South East Asia </h1>
       <h4> Empowering South East Asian youth to solve worldwide sustainability problems </h4>
   </div>
</div>
<div class="ui vertical center aligned segment">
    <h2> Interested? Join us as a.. </h2>
</div>

<div class="ui vertical stripe segment">
<div class="ui equal width stackable internally celled grid">
<div class="center aligned row">
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="university icon"></i>
            <div class="content">
                Participant
                <div class="sub header">Join our five month innovation program with other youths in the region.

                </div>
                <br>
                <button class="ui positive basic button">Find out more</button>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="heart icon"></i>
            <div class="content">
                Partner
                <div class="sub header"> We are looking for additional support to further the YSI SEA program.
                </div>
                <br>
                <button class="ui positive basic button">Find out more</button>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui center aligned icon header">
            <i class="student icon"></i>
            <div class="content">
                Mentor
                <div class="sub header"> Help our participants design and implement their ideas.
                </div>
                <br>
                <button class="ui positive basic button">Find out more</button>
            </div>
        </h2>
    </div>
</div>
</div>
</div>

</html>
